In [3]:
!pip install fredapi --user

Requirement already satisfied: fredapi in c:\users\shery\appdata\roaming\python\python38\site-packages (0.5.1)
Requirement already satisfied: pandas in c:\users\shery\anaconda3\lib\site-packages (from fredapi) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shery\anaconda3\lib\site-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shery\anaconda3\lib\site-packages (from pandas->fredapi) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\shery\appdata\roaming\python\python38\site-packages (from pandas->fredapi) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\shery\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->fredapi) (1.16.0)

In [4]:
import os

In [5]:
os.chdir('C:/Users/shery/OneDrive/Desktop/Anaconda/fred')

In [6]:
import fredapi as fa
import pandas as pd
from local_settings import fred as settings
fred = fa.Fred(settings['api_key'])
#fred = fa.Fred(api_key='5489f319e26fb588e8fb9425b78e475b')

In [42]:
#list of quarterly, monthly, & daily series
q_series = [('gdp','GDP')] 
m_series = [('capacity_manuf','MCUMFN'),('cpi','CPIAUCSL'),('unemp','UNRATE'),('leadin_ind','USALOLITONOSTSAM')]
d_series = [('fed_funds_rate','DFF'),('tbill_3','DTB3'),('tbill_6','DTB6')]

Get all the quarterly series

In [44]:
q_df =[]

for varname, var in q_series:
    x = fred.get_series(var)
    x.name = varname
    x = pd.DataFrame(x)
    q_df.append(x)

q_df = pd.concat(q_df, axis=1)

In [45]:
q_df.tail()

                  gdp
2022-04-01  25248.476
2022-07-01  25723.941
2022-10-01  26137.992
2023-01-01  26529.774
2023-04-01  26798.605

Get all the monthly series

In [39]:
m_df =[]

for varname, var in m_series:
    x = fred.get_series(var)
    x.name = varname
    x = pd.DataFrame(x)
    m_df.append(x)

m_df = pd.concat(m_df, axis=1)

In [40]:
m_df.tail()

            capacity_manuf      cpi  unemp
2023-04-01         78.4065  302.918    3.4
2023-05-01         78.1317  303.294    3.7
2023-06-01         77.6937  303.841    3.6
2023-07-01         77.8633  304.348    3.5
2023-08-01         77.8810  306.269    3.8

In [35]:
d_df =[]

for varname, var in d_series:
    x = fred.get_series(var)
    x.name = varname
    x = pd.DataFrame(x)
    d_df.append(x)

d_df = pd.concat(d_df, axis=1)

In [36]:
d_df.tail()

            fed_funds_rate  tbill_3  tbill_6
2023-09-14            5.33     5.31     5.29
2023-09-15            5.33     5.32     5.29
2023-09-16            5.33      NaN      NaN
2023-09-17            5.33      NaN      NaN
2023-09-18            5.33     5.31     5.30

In [ ]:
#clean data